<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Job Card</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="row m-auto">
      <div class="col-sm">
        <div class="card border border-primary m-5" style="width: 32rem;">
          <div class="card-body p-0">
            <div class="card-header col-sm-10 mb-4">
              <div class="row">
                <div
                  class="rounded-circle bg-danger col-3"
                  style="width:100px; height:100px; background-color: greenyellow; float: left;"
                ></div>
                <div class="col-9">
                  <h5 class="card-title">Job title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Job subtitle</h6>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8"></div>
              <div class="col">
                <h5 class="mb-1">Contact Name</h5>
                <p>(888) 888-8888</p>
              </div>
            </div>
            <div class="jobBanner"></div>

            <div class="contact"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
