html {
  height: 100%;
  background-color: #f3f3f3;
}

.main-container {
  display: inline-block;
}

.component-container {
  margin-left: 72px; /*  64px sidebar plus 8px margin */
  display: inline-flex;
  flex-wrap: wrap;
}