html {
  height: 100%;
  background-color: #F2FDFF;
}

.main-container {
  display: inline-block;
}

.component-container {
  height: 100vh;
}

.sidebar-col {
  padding-left: 0px;
}

.sidebar-container {
  position: fixed;
  display: inline;
  width: 64px;
  height: 100%;
  background-color: #136EE4;
}

.sidebar-menu-container__upper {
  text-align: center;
  display: block;
  width: 50px;
  height: auto;
  position: fixed;
  padding: 0px 7px 16px 7px;
  overflow-wrap: break-word;
}
.sidebar-menu-container__lower {
  text-align: center;
  display: block;
  width: 50px;
  height: auto;
  position: fixed;
  bottom: 0px;
  padding: 0px 7px 16px 7px;
  overflow-wrap: break-word;
}

.sidebar-menu__button {
  cursor: pointer;
}

/* MODAL */

.modal-content {
  border: none;
}

.modal-header {
  background-color: #136EE4;
  color: white;
}